
main {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}

main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}
img {
  display: block;
}

.item {
  margin: 10px;
}

.group1{
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items:flex-start
}

.group1 > img {
  flex: 1;
}

.group2 {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.group3 {
  display: flex;
  flex-direction: row;
}

.about {
  max-width: 400px;
  margin: 0 10px 0 10px;
}