
main {
  display: flex;
  margin-top: 60px;
  flex-direction: column;
}



main h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}

main h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
}

main h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 18px;
}

main p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
}

img {
  display: block;
}

.item {
  margin: 10px;
  flex: 1;
}

.group1{
  display: flex;
  flex-direction: row;
  flex: 1;
  margin: 10px;
  justify-content: center;
}
@media all and (max-width:1000px){
  .group1{
    flex-direction: column;
  }
}

.secondary-img{
  width: 100%;
}

.primary-img {
  flex:2;
  max-width:75%;
}

.group2 {
  display: flex;
  flex-direction: row;
  
  justify-content: center;
}
@media all and (max-width:1000px){
  .group2{
    flex-direction: column;
  }
}

.group3 {
  display: flex;
  flex:1;
  flex-direction: row;
  margin: 10px;
  align-items: center;
  border:5px solid #5c4f41;
  background-color: #5c4f41;
}

.group3 > img {
  max-width: 25.025%;
}
@media all and (max-width:1000px){
  .group3{
    flex-direction: column;
  }
}

.about {
  max-width: 400px;
  margin: 0 10px 0 10px;
}

